@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .graphDock {
    display: flex;
    position: absolute;
    left: 112px;
    right: 0;
    bottom: 0;
    transition: top .25s ease-out;
  }

  .graphDock_closed {
    top: calc(100% - 80px);
  }

  .graphDock_open {
    top: calc(100% - 187px);
  }

  .graphDock-graphBtn {
    height: 86px;
    width: 86px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 5px 2px 10px rgba(0,0,0, 0.25);
    left: calc(50% - 43px);
    top: -55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }
}

/* Large devices (large desktops, 1600px and up) */
@media screen and (min-device-width: 1600px) {
  .graphDock {
    display: flex;
    position: absolute;
    background-color: #999999;
    left: 168px;
    right: 0;
    bottom: 0;
    transition: top .25s ease-out;
  }

  .graphDock_closed {
    top: calc(100% - 120px);
  }

  .graphDock_open {
    top: calc(100% - 280px);
  }

  .graphDock-graphBtn {
    height: 86px;
    width: 86px;
    border-radius: 50%;
    background-color: #6B7F98;
    position: absolute;
    box-shadow: 5px 2px 10px rgba(0,0,0, 0.25);
    left: calc(50% - 43px);
    top: -55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
