.loadingSpinner > svg {
  stroke: #F77D0F;
  transition: stroke 1s ease-out;
}

.loadingSpinner_success > svg {
  stroke: #74ea96;
  fill: #74ea96;
}

.loadingSpinner-inProgress {
  stroke-dasharray: 300;
  stroke-dashoffset: 0;
  animation-iteration-count: infinite;
  animation-name: load, spin;
  animation-duration: 1.5s, 1.5s;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  fill: none;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.loadingSpinner-complete
{
  fill: none;
  stroke-width: 5;
  stroke-miterlimit: 10;
  transform-origin: 50% 50%;
  stroke-dasharray: 300;
	stroke-dashoffset: 0;
	animation: fill 1s ease-out forwards;
}

.loadingSpinner-checkmark > svg {
  position: absolute;
  left: calc(50% - 14px);
  width: 28px !important;
  top: calc(50% - 14px);
  stroke: #74ea96;
  fill: #74ea96;
}

.loadingSpinner-checkmarkTransition-appear {
  opacity: 0.01;
}

.loadingSpinner-checkmarkTransition-appear.loadingSpinner-checkmarkTransition-appear-active {
  opacity: 1;
  transition: opacity 1s ease-out;
}

@keyframes load {
 0% {
   stroke-dashoffset: 285;
   animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
 }
 50% {
	 stroke-dashoffset: 0;
	 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 }
 100% {
   stroke-dashoffset: -285;
 }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fill {
  0% {
	stroke-dashoffset: 285;
  }
  100% {
	stroke-dashoffset: 0;
  }
}
