.login {
  height: 100%;
  width: 100%;
  background-color: #2F4666;
}

/**
  * Logo
  */

.login-logo {
  width: 360px;
  position: absolute;
  left: calc(50% - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  top: 10%;
  overflow: visible;
  flex-wrap: wrap;
  color: #F77D0F;
}

.login-logoTop {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logoBottom {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo_icon {
  width: 100%;
  height: 100%;
}

.login-logo_decoration {
  fill: currentColor;
}

.login-logoLabel {
  font-size: 1em;
  letter-spacing: 1em;
  font-weight: 100;
}

/*
 * Login Form
 */

.login-form {
  width: 360px;
  height: auto;
  position: absolute;
  top: calc(30% + 1.5em);
  left: calc(50% - 180px);
}

.login-formControlsContainer {
  border: 1px solid #E0E0E0;
  height: 124px;
  width: 360px;
  overflow: hidden;
}

.login-formControl {
  height: 62px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-formControl_indicator {
  width: 0;
  height: 1px;
  transition: width 330ms;
  margin: -1px 10px 0 0;
  background: #F77D0F;
  position: relative;
  top: -12px;
}

.login-formControl_focused .login-formControl_indicator {
  width: 100%;
}

.login-formControlLabel {
  width: 50px;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.login-formControlLabel:hover {
  cursor: pointer;
}

.login-formControlLabel:hover > * {
  cursor: pointer;
}

.login-formControlInput {
  width: 310px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.login-formControlInput_text {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 1.4em;
  color: #E0E0E0;
  padding-right: 10px;
  top: -1px;
  position: relative;
}

.login-formControlInput_text:focus {
  outline: none
}

.login-formControl:first-of-type {
  border-bottom: 1px solid #E0E0E0;
}

.login-submit {
  background: transparent;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-submitBtn {
  background-color: #E0E0E0;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  transition: all 150ms ease-out;
}

.login-submitBtn:hover {
  cursor: pointer;
  border: 1px solid #F77D0F;
}

.login-submitBtn:focus {
  border: 1px solid #F77D0F;
  outline: none;
}

.login-submitBtn_text {
  color: #F77D0F;
  font-size: 1.3em;
  font-weight: 900;
}

.login-forgotPassword {
  background: transparent;
  display: flex;
  height: 30px;
  color: #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-forgotPassword_link {
  color: currentColor;
  font-size: 1em;
}

.login-rememberMe {
  background: transparent;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3px;
  color: #E0E0E0;
}

.login-rememberMeCheckbox {
  display: flex;
  width: 100%;
  height: 20px;
  align-items: center;
}

.login-rememberMeCheckbox_label {
  padding-left: 1em;
  color: currentColor;
  font-size: 1em;
}
