.adminTeams-title {
  color: #f0f0f0;
  font-size: 2.5rem;
  padding-left: 1.5rem;
}

.adminTeams-body {
  max-height: calc(100% - 8rem);
  overflow: auto;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
}

.adminTeams-body_scrollable {
  width: 100%;
  padding-top: 2rem;
  padding-left: 1.5rem;
}

.adminTeams-addIcon {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}
