.adminTeams-title {
  color: #f0f0f0;
  font-size: 2.5rem;
  padding-left: 1.5rem;
}

.adminTeams-body {
  max-height: calc(100% - 8rem);
  overflow: auto;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
}

.adminTeams-body_scrollable {
  width: 100%;
  padding-top: 2rem;
  padding-left: 1.5rem;
}

.adminTeams-addTeamButton {
  display: flex;
  margin-left: 1.5rem;
  color: #6d9cbe;
  margin-top: 0.7rem;
  align-items: center;
}

.adminTeams-addTeamButton:hover {
  cursor: pointer;
}

.adminTeams-addTeamButton_font {
  font-size: 1.4rem;
  color: currentColor;
}

.adminTeams-addTeamButton_icon {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.adminTeams-addTeamButton_icon > svg {
  width: 24px;
  fill: currentColor;
}
