.login {
  height: 100%;
  width: 100%;
  background-color: #2F4666;
  overflow: hidden;
}

/*
 * Login Form
 */

 .login-form_error {
   animation:shake 0.4s linear;
 }

 @keyframes shake{
 	0% { left: -10px; }
 	20% { left: 10px; }
 	40% { left: -10px; }
 	60% { left: 10px; }
 	80% { left: -10px; }
 	100% { left: 0px; }
 }

 .login-form {
   width: 360px;
   position: absolute;
   top: calc(30% + 1.5em);
   left: calc(50% - 180px);
   height: 400px;
   transition: all 0.5s;
 }

.loginFormEnter-appear {
  opacity: 0.3;
  transform: translateY(30px);
}

.loginFormEnter-appear.loginFormEnter-appear-active {
  opacity: 1;
  transform: translateY(0);
}

.login-formControlsContainer {
   border: 1px solid #E0E0E0;
   height: 124px;
   width: 360px;
   overflow: hidden;
   position: relative;
 }

.login-forgotPassword {
  background: transparent;
  display: flex;
  height: 30px;
  color: #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.login-forgotPassword_link {
  color: currentColor;
  font-size: 1.3em;
  cursor: pointer;
}
