.login {
  height: 100%;
  width: 100%;
  background-color: #2F4666;
}

/*
 * Login Form
 */

 .login-form_error {
   animation:shake 0.4s linear;
 }

 @keyframes shake{
 	0% { left: -10px; }
 	20% { left: 10px; }
 	40% { left: -10px; }
 	60% { left: 10px; }
 	80% { left: -10px; }
 	100% { left: 0px; }
 }

 .login-form {
   width: 360px;
   position: absolute;
   top: calc(30% + 1.5em);
   left: calc(50% - 180px);
   height: 400px;
 }

 .login-formControlsContainer {
   border: 1px solid #E0E0E0;
   height: 124px;
   width: 360px;
   overflow: hidden;
   position: relative;
 }

.loginForm-appear {
  opacity: 0.1;
  top: calc(35% + 1.5em);
}

.loginForm-appear.loginForm-appear-active {
  opacity: 1;
  top: calc(30% + 1.5em);
}

.login-forgotPassword {
  background: transparent;
  display: flex;
  height: 30px;
  color: #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  cursor: pointer;
}

.login-forgotPassword_link {
  color: currentColor;
  font-size: 1em;
}
