@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .boardView {
    background: transparent;
    position: absolute;
    left: 112px;
    top: 48px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    overflow: hidden;
  }
}

@media screen and (min-device-width: 1600px) {
  .boardView {
    background: transparent;
    position: absolute;
    left: 168px;
    top: 72px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    overflow: hidden;
  }
}
