.adminLayout {

}

.adminSideMenu-item {
  height: 4rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #F0F0F0;
  padding-left: 0.3rem;
}

.adminSideMenu-item_active {
  background-color: #79bbe0;
  pointer-events: none;
}

.adminSideMenu-itemIcon {
  height: 100%;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminSideMenu-itemIcon > svg {
  fill: #F0F0F0;
}

.adminSideMenu-item_text {
  padding-left: 0.3rem;
}
