.reportsHeader {
  display: flex;
  height: 8rem;
  align-items: center;
  width: 100%;
  background-color: #b5bebd;
  box-sizing: border-box;
}

.reportsHeader-title {
  color: #f0f0f0;
  font-size: 2.5rem;
  padding-left: 1.5rem;
}
