.reportSet {
  height: 50px;
  margin: 3rem 3rem 0;
  background: transparent;
  border-top: 2px solid #b5bebd;
  transition: height 200ms;
  overflow: hidden;
}

.reportSet-header {
  background: transparent;
  color: #2f4666;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.reportSet-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.reportSet-header_text {
  font-size: 2rem;
  padding-left: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.reportSet-headerArrow {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #b5bebd;
  transition: transform 200ms;
  transform: rotate(0);
}

.reportSet-headerArrow_closed {
  transform: rotate(-90deg);
}

.reportSet-headerArrow:hover {
  cursor: pointer;
}
