.userReports {
  margin-top: 1rem;
  height: calc(100% - 20px);
  padding: 0 1rem;
}

.userReportsList {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.userReportsList-header {
  display: flex;
  height: 8rem;
  align-items: center;
  width: 100%;
  background-color: #b5bebd;
  box-sizing: border-box;
}

.userReportsList-header_title {
  color: #f0f0f0;
  font-size: 2.5rem;
  padding-left: 1.5rem;
}

.userReportsBody {
  width: 100%;
  overflow: auto;
  max-height: calc(100% - 8rem);
  background: transparent;
}

.userReportsBody-scrollable {
  width: 100%;
}
